@use '../../scss/variables.scss' as * ;
.grid {
    background-color: $whitebackground ;
    min-height: 50vh;
    border-radius: 25px ;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 2rem 0;
}

.housing {
    border-radius: 10px ; 
    background: $gradient ;
    flex-wrap: wrap ;
    flex-basis: 25% ;
    display: flex;
    
}

.appartCard__subtitle {
    text-decoration: none;
    color: $whitebackground;
    font-size: 16px;
    margin-top: 250px;
}

@media screen and (max-width: 768px) {
    .housing {
      width: auto;
      min-width: 90%;
      height: 220px;
      min-height: 220px;
      flex-basis: auto;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }

    .grid {
        background-color: $whitebackground;
        padding: 0;
    }

  
}