@use '../../scss/variables.scss' as * ;

footer {
    background-color: $footerbg;
    padding: 25px;
    display: grid;
    place-items: center;
    min-height: 150px;
}
.footer__text {
    color: $whitebackground;
    font-size: 1.5rem;
}
.footer__logo {
    color: $whitebackground;
    margin-bottom: 1.5rem;
}

footer img {
    margin-top: 1rem;
}