@use '../../scss/variables.scss' as * ;

.footer {
    background-color: $footerbg;
    margin-inline: -100px;
    padding: 25px;
    display: grid;
    place-items: center;
    min-height: 150px;
    &__logo {
        color: $whitebackground;
        margin-bottom: 1.5rem;
    }
    &__text {
        color: $whitebackground;
        font-size: 1.5rem;
    }
}

.footer img {
    margin-top: 1rem;
}